body {
    font-size: 0.9rem;
}

.sb-topnav {
    padding-left: 0;
    height: 56px;
    z-index: 1039;
}

    .sb-topnav .navbar-brand {
        width: 225px;
        padding-left: 1rem;
        padding-right: 1rem;
        margin: 0;
    }

.navbar-dark {
    background-color: #212529;
}

.navbar-brand {
    color: #fff;
}

#layoutSidenav {
    display: flex;
}

#layoutSidenav_nav {
    flex-basis: 225px;
    flex-shrink: 0;
    transition: transform 0.15s ease-in-out;
    z-index: 1038;
}

#layoutSidenav_content {
    position: relative;
    flex-grow: 1;
    padding-left: 225px;
    transition: padding 0.15s ease-in-out;
}

.sb-sidenav-light {
    background-color: #f8f9fa;
    color: #212529;
}

.sb-sidenav-menu .nav-link {
    color: #212529;
}

.sb-sidenav-menu-heading {
    padding: 1.75rem 1rem 0.75rem;
    font-size: 0.75rem;
    font-weight: bold;
    text-transform: uppercase;
}

body.sb-sidenav-toggled #layoutSidenav_nav {
    transform: translateX(-225px);
}

body.sb-sidenav-toggled #layoutSidenav_content {
    padding-left: 0; 
}
.sb-sidenav-menu .nav {
    flex-direction: column;
}