@model IEnumerable<DBFIrstApp.Models.Learner>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>

@await Component.InvokeAsync("Major") 

<div id="content">

    @await Html.PartialAsync("LearnerTable", Model)

</div>

@section Scripts {
    <script>
        $("li").click(function (e) {

            var id = $(this).attr("id");

            $.ajax({
                url: "@Url.Action("LearnerByMajorID", "Learners")",
                type: "GET",
                data: { mid: id },
                success: function (response) {
                    $("#content").html(response);
                },
                error: function() {
                    alert("Lỗi khi tải dữ liệu.");
                }
            });
        });
    </script>
}